@model LDTE_Web.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrefixName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrefixName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuffixName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuffixName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityHint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityHint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InactiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InactiveDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
